.SignUpForm {
  /* max-width: 300px; */
  min-width: 350px;
  min-height: 400px;

  border: 1px solid grey;
  border-radius: 5px;

}

.Header {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
}

.Error {
  min-height: 80px;
  padding-top: 10px;
  color: red;
}
